:root {
  --color-button-text: hsl(0, 0%, 100%);

  --color-accent: #0a84ff;
  --color-accent-hover: #3399ff;
  --color-accent-disabled: #51a8ff;

  --color-primary-100: #ffffff;
  --color-primary-200: #e6e6e6;
  --color-primary-300: #8181b1;
  --color-primary-400: #61619e;
  --color-primary-500: #4e4e7e;
  --color-primary-600: #3a3a5f;
  --color-primary-700: #27273f;
  --color-primary-800: #131320;
  --color-primary-900: #0a0a10;
}
