:root {
  --color-button-text: #ffffff;

  --color-primary-100: #ebeef5;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #6a7594;
  --color-primary-400: #61619e;
  --color-primary-500: #4e4e7e;
  --color-primary-600: #3a3a5f;
  --color-primary-700: #27273f;
  --color-primary-800: #131320;
  --color-primary-900: #0d0d16;

  --color-primary-modal: rgba(13, 13, 22, 0.8);
}

:root {
  --color-accent: #0a84ff;
  --color-accent-hover: #52a8ff;
  --color-accent-disabled: #51a8ff;
}

.theme-default {
  --color-accent: #0a84ff;
  --color-accent-hover: #52a8ff;
  --color-accent-disabled: #51a8ff;
}

.theme-red {
  --color-accent: #fd4d4d;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #fd6868;
}

.theme-pink {
  --color-accent: #ea4c89;
  --color-accent-hover: #f082ac;
  --color-accent-disabled: #f082ac;
}
