:root {
  --color-button-text: #fff;

  --color-accent: #0a84ff;
  --color-accent-hover: #51a8ff;
  --color-accent-disabled: #51a8ff;
  --color-accent-glow: #00aaff10;

  --color-primary-100: hsl(0, 100%, 100%);
  --color-primary-200: hsl(0, 0%, 90%);
  --color-primary-300: hsl(240, 24%, 60%);
  --color-primary-400: hsl(240, 24%, 50%);
  --color-primary-500: hsl(240, 24%, 40%);
  --color-primary-600: hsl(240, 24%, 30%);
  --color-primary-700: hsl(240, 24%, 20%);
  --color-primary-800: hsl(240, 24%, 10%);
  --color-primary-900: hsl(240, 24%, 5%);
}
